body {font-family: Arial, Helvetica, sans-serif;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color: #E1BEE7;
    margin: auto;
    padding: 0;
    border: 5px solid white;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name:a;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s
}


@-webkit-keyframes animatebottom{
    from {bottom:-300px; opacity:0} 
    to {bottom:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatebottom {
    from {bottom:-300px; opacity:0}
    to {bottom:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color:darkgray;
    color: white;
}

.modal-body {
padding: 2px 16px;
background-color: white;
}

#container{
    overflow: hidden;
    height: 600px;
}

.next{
    float: right;
    width: 63px;
    background: black;
    height: 600px;
}
.next > img{
    margin-top: 252px;
}
.prev{
    float: left;
    width: 63px;
    background: black;
    height: 600px;
}
.prev > img{
    margin-top: 252px;
}
.carousel{
    width: 50%;
    float: left;
}

.tablecatalog,
.tablecatalog td {
  border: 1px solid black;
}

.table-basket,
.table-basket td {
  border: 1px solid black;
  text-align: center;
}
.cont {
    width: 1000px;
    margin: 0 auto;
}
.accordeon-wrapper {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 50px;
}

.accordeon-header {
    background-color: #aaa;
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

.accordeon-header:hover {
    background-color: #ddd;
}

.accordeon-body {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-in;
}

.accordeon-body > * {
    padding: 20px;
    margin: 0;
    display: block;
}